body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 95%;
    border: none;
    padding: 20px;
    font-size: 5rem;
    background-color: hsl(0, 0%, 20%);
    text-align: right;
    outline: none;
    color: white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    background-color: hsl(0, 0%, 30%);
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 3rem;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator-btn {
    background-color: hsl(39, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(39, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(39, 100%, 75%);
}